<!DOCTYPE html>  
<html lang="es">  
<head>  
    <meta charset="UTF-8">  
    <title>Cursos</title>  
</head>  
<body>  
    <h1>Cursos Disponibles</h1>  
    <ul>  
        <li>Curso de Programación en JavaScript</li>  
        <li>Curso de Desarrollo Web</li>  
        <li>Curso de React.js</li>  
    </ul>  
    <a href="/">Volver a la Página Principal</a>  
</body>  
</html>  
